<h1>Standards </h1>
<!--
<div class="form-group">
  Search: <input type='text' ng-model="search.input.$">
</div>
<mf-domain-selector ng-model="search.standard"></mf-domain-selector>
-->
<h1>Hello world</h1>
<!--
<div class="row">
  <div ng-repeat="standard in standards | domainFilter:search.standard | filter:search.input" class="col-sm-6">
    <h2><a title="{{standard.name}}" ng-href="#/standards/{{standard.id}}">{{standard.title}}</a></h2>
    <p>{{standard.description}}</p>
    <p><span class="label label-info">{{standard.domain.name}}</span></p>
  </div>
</div>
-->