<h1>Standards</h1>
<div class="form-group">
    Search: <input type='text' ng-model="search.input.$">
</div>

<mf-domain-selector ng-model="search.domain"></mf-domain-selector>
<div class="row">
    <div ng-repeat="standard in standards">
        <a title="{{standard.course.name}}" ng-href="#/standards/{{standard.id}}"><h3>{{standard.title}}</h3><h4>{{standard.standardId}}</h4></a>
        <p>{{standard.description}}</p>
        <p><span class="label label-info">{{standard.domain.name}}</span></p>
    </div>
</div>