<html ng-app="MathFinder">
  <head>
    <title>Math Finder</title>
    <link rel="stylesheet" href="../assets/styles/bootstrap.css" />
    <link rel="stylesheet" href="../assets/styles/bootstrap-theme.css" />
  </head>
  <body>

    <h1>Math Finder.</h1>
    <div ng-view></div>

  </body>

  <!-- vendor -->
  <script src="../assets/js/vendor/jquery-2.1.3.min.js"></script>
  <script src="../assets/js/vendor/angular.js"></script>
  <script src="../assets/js/vendor/angular-route.js"></script>
  <script src="../assets/js/vendor/angular-resource.js"></script>
  <script src="../assets/js/vendor/bootstrap.js"></script>

  <!-- App -->
  <script src="../assets/js/app.js"></script>
  <script src="../assets/js/routes.js"></script>

  <!-- Directives -->

  <!-- Controllers -->
  <script src="../assets/js/controllers/standardIndexController.js"></script>
  <script src="../assets/js/controllers/standardShowController.js"></script>

  <!-- Filters -->

  <!-- Services -->
  <script src="../assets/js/services/standard.js"></script>

</html>